# Ignore junk
.idea/
*.pyc
*.toml
*.wav
*.class
test.py
log.txt
complexity_report*
*.log
*.*\#
*.*~

# Ignore Rope
.ropeproject/

# Ignoring Visual Studio (Code)
.vs/
.vscode/

# Ignore Natlink
/core/

# Ignore SonarQube
.sonar
sonar-project.properties

# Ignore Eclipse/Pydev Files
.project
.pydevproject
.settings

*_vcl.py

*.code-workspace
pyia2